<div class="map" #osmmap leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl" [leafletLayers]="layers" (leafletMapReady)="onMapReady($event)" (window:resize)="onResize($event)">
</div>

<!-- <mat-card> -->
<!-- <button mat-raised-button (click)="AddZoom()">AddZoom</button>
  <button mat-raised-button (click)="RemoveZoom()">RemoveZoom</button>
  <mat-divider></mat-divider> -->
<!-- <button mat-raised-button (click)="AddMark()">AddMark</button> -->
<!-- <button mat-raised-button (click)="RemoveMark()">RemoveMark</button> -->
<!-- </mat-card> -->
