<mat-list>
  <h3 mat-subheader>員工專區</h3>
  <button  mat-button routerLink="./calendar">
    <mat-list-item>
      <mat-icon mat-list-icon>today</mat-icon>
      <h4 mat-line>行 事 曆</h4>
    </mat-list-item>
  </button >
  <button  mat-button routerLink="./address-book">
    <mat-list-item>
      <mat-icon mat-list-icon>contact_phone</mat-icon>
      <h4 mat-line>通 訊 錄</h4>
    </mat-list-item>
  </button >
  <button  mat-button routerLink="./logbook">
    <mat-list-item>
      <mat-icon mat-list-icon>border_color</mat-icon>
      <h4 mat-line>工作日誌</h4>
    </mat-list-item>
  </button >
  <button  mat-button routerLink="./to-do-list">
    <mat-list-item>
      <mat-icon mat-list-icon>playlist_add_check</mat-icon>
      <h4 mat-line>辦事項</h4>
    </mat-list-item>
  </button >
  <button  mat-button routerLink="./file">
    <mat-list-item>
      <mat-icon mat-list-icon>cloud_download</mat-icon>
      <h4 mat-line>檔案下載</h4>
    </mat-list-item>
  </button >
  <button  mat-button routerLink="./leave">
    <mat-list-item>
      <mat-icon mat-list-icon>weekend</mat-icon>
      <h4 mat-line>請  假</h4>
    </mat-list-item>
  </button >
  <button  mat-button routerLink="./reimburse">
    <mat-list-item>
      <mat-icon mat-list-icon>attach_money</mat-icon>
      <h4 mat-line>差旅報支</h4>
    </mat-list-item>
  </button >
</mat-list>
