<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>
<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>

<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>

<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>
<hr>
<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>
<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>
<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>
<div>
  <video [muted]="true" controls>
    <source src={{videosrc}}>
  </video>
</div>
