.color1 {
  background-color: #f80909;
}
.color2 {
  background-color: #f4f809;
}
.color3 {
  background-color: #31f809;
}
.color4 {
  background-color: #0949f8;
}
.color5 {
  background-color: #c809f8;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.left {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
  height: 100vh;
}
.right{
  display: flex;
  //align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.mainplayer{
  width: 100%;
  height: 80%;
}
.gsensorinfo{
  width: 100%;
  height: 20%;
}
