<div class="flex-container">
  <!-- 左邊列表 -->
  <div class="left color2">

  </div>
  <div class="right">
    <div class="mainplayer color4">

      <!-- <div>
        <input matInput type="text" value={{currentTime}} placeholder="Current Time">
      </div> -->
    </div>
    <div class="gsensorinfo">
      <app-test-bar-chart></app-test-bar-chart>
      <!-- <app-bar-chart *ngIf="chartData" [dataset]="chartData"></app-bar-chart> -->
      <!-- <app-line-chart></app-line-chart> -->
      <!-- <app-multi-series></app-multi-series> -->
      <!-- <app-gsensor-info #gensor [tSeconds]="20" [(currentSec)]="currentTime"></app-gsensor-info> -->

    </div>
  </div>
</div>
