<mat-list>
  <h3 matSubheader>圖片列表</h3>
  <button mat-button routerLink="./showvideo1" style="height: 150px">
    <mat-list-item>
      <img src="https://via.placeholder.com/150/?text=video1" />
    </mat-list-item>
  </button>
  <button mat-button routerLink="./showvideo2" style="height: 150px">
    <mat-list-item>
      <img src="https://via.placeholder.com/150/?text=video2" />
    </mat-list-item>
  </button>
  <button mat-button routerLink="./showvideo3" style="height: 150px">
      <mat-list-item>
        <img src="https://via.placeholder.com/150/?text=video1+video2" />
      </mat-list-item>
    </button>
    <button mat-button routerLink="./showvideo4" style="height: 150px">
      <mat-list-item>
        <img src="https://via.placeholder.com/150/?text=mpd" />
      </mat-list-item>
    </button>
</mat-list>
<!-- <button>
    <img src="https://via.placeholder.com/150"/>
</button> -->
<!-- <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"/></a> -->