<div fxLayout="row" fxLayoutAlign="none stretch" style="height:100%;width: 100%;">
  <div fxFlex="100" [fxShow]="(mailindex===0) ?true: false">
    <mat-video #video1 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>
  <div fxFlex="100" [fxShow]="(mailindex===1) ?true: false">
    <mat-video #video2 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>
  <div fxFlex="100" [fxShow]="(mailindex===2) ?true: false">
    <mat-video #video3 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>
  <div fxFlex="100" [fxShow]="(mailindex===3) ?true: false">
    <mat-video #video4 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>
  <div fxFlex="100" [fxShow]="(mailindex===4) ?true: false">
    <mat-video #video5 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>
  <div fxFlex="100" [fxShow]="(mailindex===5) ?true: false">
    <mat-video #video6 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>
  <div fxFlex="100" [fxShow]="(mailindex===6) ?true: false">
    <mat-video #video7 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>
  <div fxFlex="100" [fxShow]="(mailindex===7) ?true: false">
    <mat-video #video8 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
    </mat-video>
  </div>

</div>
