mat-sidenav-container{
  width: 100%;
}
.demo-app-header {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .demo-app-container,
  .demo-app-sidenav {
    position: absolute;
    padding-top: 64px;
    //width: 100%;
 }
.toolbar-seprator{
  flex:1 1 auto;
}
