<mat-toolbar class="demo-app-header" color="primary">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{sideNav.opened ? 'close':'menu'}}</mat-icon>
  </button>
  <span>圖表元件 demo</span>
  <!-- 在這之後的都會被推到右邊去 -->
  <span class="toolbar-seprator"></span>
  <button mat-icon-button>
    <mat-icon>message</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>
<mat-sidenav-container class="demo-app-container">
  <mat-sidenav class="demo-app-sidenav" #sideNav mode="push">
    <mat-nav-list>
      <h3 matSubheader>折線圖表</h3>
      <a [routerLink]="['/', 'dashboard', 'basicline']" mat-list-item>Basic Line Chart</a>
      <a [routerLink]="['/', 'dashboard', 'basicarea']" mat-list-item>Basic area Chart</a>
      <a [routerLink]="['/', 'dashboard', 'smoothedline']" mat-list-item>Smoothed Line Chart</a>
      <a [routerLink]="['/', 'dashboard', 'stackedline']" mat-list-item>折線圖堆疊</a>
      <mat-divider></mat-divider>
      <h3 matSubheader>柱狀圖表</h3>
      <a [routerLink]="['/', 'dashboard', 'baranideley']" mat-list-item>柱狀圖動畫延遲</a>
      <a [routerLink]="['/', 'dashboard', 'mixlinebar']" mat-list-item>折柱混合</a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Pie圖表</h3>
      <a [routerLink]="['/', 'dashboard', 'simplepie']" mat-list-item>簡單Pie圖表</a>
      <a [routerLink]="['/', 'dashboard', 'rosepie']" mat-list-item>南丁格爾玻瑰圖</a>
      <!-- 另外一組選單 -->
      <h3 matSubheader>其他頁面</h3>
      <a [routerLink]="['/', 'dashboard', 'simplebarchart']" mat-list-item>簡單Bar圖表</a>
      <a [routerLink]="['/']" mat-list-item>首頁</a>
      <a [routerLink]="['/']" mat-list-item>Google</a>
      <a [routerLink]="['/']" mat-list-item>Facebook</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div style="width: 100%;height: 20em;background-color: blueviolet">

    </div> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
