<div>選擇單一元素</div>
<div #d3body>
  <p>dog</p>
  <p>cat</p>
  <p>pig</p>
</div>
<hr>
<div>選擇全部元素</div>
<div #d3body1>
  <p>dog</p>
  <p>cat</p>
  <p>pig</p>
</div>
<hr>
<div>選擇任意元素</div>
<div #d3body2>
  <p>dog</p>
  <p class="myp2">cat</p>
  <p id="myp3">pig</p>
  <p>rat</p>
</div>
<hr>
<div>選擇任意元素(擴展)</div>
<div #d3body3>
  <p>dog</p>
  <p>cat</p>
  <p>pig</p>
  <p>rat</p>
</div>
<hr>
<div>使用append</div>
<div #d3body4>
  <p>dog</p>
  <p>cat</p>
  <p>pig</p>
  <p>rat</p>
</div>
<hr>
<div>使用insert</div>
<div #d3body5>
  <p>dog</p>
  <p>cat</p>
  <p id="myp3">pig</p>
  <p>rat</p>
</div>
<hr>
<div>使用remove</div>
<div #d3body6>
  <p>dog</p>
  <p>cat</p>
  <p id="myp3">pig</p>
  <p>rat</p>
</div>
<hr>
