<section id="loginComp" class="loginComp col-xs-12 col-sm-12
col-md-12 col-lg-12">

  <article id="loginTitleSec" class="col-xs-12 col-sm-12
    col-md-12 col-lg-12">
    <h4 class="">登入帳號</h4>
  </article>
  <section class="loginData col-xs-12 col-sm-12 col-md-12 col-lg-12" id="loginData">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="loginForm">
      <div class="form-group input-group col-xs-12 col-sm-12
        col-md-12 col-lg-12">
        <input type="email" name="email" id="email" formControlName="email" class="form-control email"
          placeholder="電子郵件(用於帳號登入)">
      </div>
      <div class="form-group input-group
        col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input type="password" name="password" id="password" formControlName="password" class="form-control password"
          placeholder="密碼">
      </div>
      <button type="submit" class="btn btn-primary col-xs-12
        col-sm-12 col-md-12 col-lg-12" [disabled]="loginForm.invalid">
        登入
      </button>
    </form>
  </section>
</section>
