<div class="flex-container color1">
  <!-- 左邊列表 -->
  <div class="left color2">
    <mat-card class="mat-elevation-z2" *ngFor="let item of videolist;" style="padding: 2px;">
      <div>
        <mat-video [playFreeze]="true" [mustShowMouseIcon]="true" [preload]="false" [overlay]="false" (click)="onVideoclick($event,item)">
          <source matVideoSource src={{item.src}} type="video/mp4">
        </mat-video>
      </div>

    </mat-card>
  </div>
  <div class="right color3">
    <div class="mainplayer color4">

      <mat-video #mainvideoid [preload]="true" [quality]="false" [fullscreen]="false" (timeChange)="onTimechang($event)" [(time)]="currentTime">
        <source matVideoSource src={{mainvideo.src}} type="video/mp4">
      </mat-video>
    </div>
    <div class="gsensorinfo color5">
      <!-- <app-gsensor-info #gensor [tSecond]="60" (timeChange)="onGpsTimechang($event)"></app-gsensor-info> -->
      <app-gsensor-info #gensor [tSeconds]="60" [(currentSec)]="currentTime"></app-gsensor-info>
      <!-- <gps-info></gps-info> -->
      <!-- <div>
        time:{{currentTime}}
      </div>
      <div>
        <input matInput type="text" [(ngModel)]="currentTime" placeholder="Current Time">
      </div>
      <div (click)="TestClick($event)">

      </div> -->


    </div>
  </div>
</div>
