<div mat-dialog-container>
  <!-- <mat-toolbar style="height: 5vh;" *ngIf="style==1" color="primary" class="mat-elevation-z1">
      <h3 mat-dialog-title>{{title}}</h3>
    </mat-toolbar> -->
  <h3 mat-dialog-title *ngIf="style==1" color="primary" class="mat-elevation-z1">{{title}}</h3>
  <!--loading-->
  <div *ngIf="style==2">
    <mat-progress-spinner mode="indeterminate" [strokeWidth]="4" [diameter]="44" style="margin:0 auto;">
    </mat-progress-spinner>
  </div>
  <mat-dialog-content>
    <div class="message" *ngIf="message!==''">
      <p [innerHTML]="message">
      </p>
    </div>
    <div class="info" *ngIf="information!==''">
      <p>
        &nbsp;
        {{information}}
        &nbsp;
      </p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div [hidden]="style==2">
      <div *ngIf="button==0">
        <button mat-raised-button color="accent" (click)="onOk()" tabindex="-1">{{ 'dialog.ok' }}</button>
      </div>
      <div *ngIf="button==1">
        <button mat-raised-button color="accent" (click)="onOk()" tabindex="-1">{{ 'dialog.ok' }}</button>
        <button mat-raised-button color="accent" (click)="onCancel()" tabindex="-1">{{ 'dialog.cancel' }}</button>
      </div>
      <div *ngIf="button==2">
        <button mat-raised-button color="accent" (click)="onYes()" tabindex="-1">{{ 'dialog.yes' }}</button>
        <button mat-raised-button color="accent" (click)="onNo()" tabindex="-1">{{ 'dialog.no' }}</button>
      </div>
      <div *ngIf="button==3">
        <button mat-raised-button color="accent" (click)="onAccept()" tabindex="-1">{{ 'dialog.accept'}}</button>
        <button mat-raised-button color="accent" (click)="onReject()" tabindex="-1">{{ 'dialog.reject' }}</button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
