<mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5,10,15]">

</mat-paginator>
<mat-table [dataSource]="emailsDataSource" matSort #sortTable="matSort" (matSortChange)="changeSort($event)">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 文章編號 </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> 標題 </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="body">
    <mat-header-cell *matHeaderCellDef> 內容 </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.body}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="management">
    <mat-header-cell *matHeaderCellDef>
      <u>管理</u>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary">回覆</button>
      <button mat-button color="warn">刪除</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['id','name','body','management']"></mat-header-row>
  <mat-row *matRowDef="let eachrow;columns:['id','name','body','management']"></mat-row>
</mat-table>
