<div fxLayout="column" fxLayoutAlign="center stretch">
  <form [formGroup]="formModel">
    <mat-card>
      <mat-card-title>送SSE訊息</mat-card-title>
      <mat-form-field class="full-width">
        <mat-icon matPrefix style="margin-right: 10px;">mail</mat-icon>
        <input matInput placeholder="channelname" formControlName="channel">
        <mat-error *ngIf="formErrors.channel">{{formErrors.channel}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-icon matPrefix style="margin-right: 10px;">vpn_key</mat-icon>
        <input matInput placeholder="message" formControlName="message">
        <mat-error *ngIf="formErrors.message">{{formErrors.message}}</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button [disabled]="!formModel.valid" color="primary" (click)="onSubmit($event)">SendMessage</button>
        <button mat-raised-button [disabled]="!formModel.valid" color="primary" (click)="onClick($event)">SendDVRType</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
