<mat-card class="mat-elevation-z2" style="width: 90vw;">
  <mat-card-header>
    <mat-card-title>測試silder:</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="row" fxLayoutAlign="center stretch">
      <mat-card fxFlex="90%">
        <mat-card-header>
          <mat-card-title>車子容量</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-slider min="10" max="100" step="1" thumbLabel></mat-slider>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-card-content>

</mat-card>
<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>測試外連:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>The <a href="http://localhost:4300/dashboard/videoplaymanager/%E3%82%8F2-674/eventid123/eyJhbGciOiJIUzUxMiIsImlhdCI6MTU4" target="_blank">World Wide Web Consortium</a>
      is the standards body that oversees the ongoing development of the XHTML
      specification.</p>
    <!-- <a href="http://www.google.com" target="_blank">...</a> -->

    <input type="button" value="button name" (click)="btntest()" />

  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>測試toast</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <button (click)="addtoastr()">Add Snackbar</button> -->
    <br>
    <!-- <button (click)="cleartoastr()">Clear</button> -->
  </mat-card-content>
</mat-card>
