<div fxLayout="column" fxLayoutAlign="center stretch">
  <mat-card>
    <mat-card-title>
      播放單個影像
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <mat-video #video1 [title]="'ch1'" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [download]="false" [preload]="false" [overlay]="true">

        </mat-video>
        &nbsp;
        <!-- <mat-video #video2 [ngClass]="{'hide':hidelst[1] }" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="false">

        </mat-video> -->
        <mat-video #video2 [title]="'ch2'" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="false">

        </mat-video>
        &nbsp;
        <mat-video #video3 [title]="'ch3'" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="true">

        </mat-video>
        &nbsp;
        <mat-video #video4 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="false">

        </mat-video>

      </div>
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <mat-video #video5 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="true">

        </mat-video>
        &nbsp;
        <mat-video #video6 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="false">

        </mat-video>
        &nbsp;
        <mat-video #video7 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="true">

        </mat-video>
        &nbsp;
        <mat-video #video8 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="false">

        </mat-video>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <!-- <button mat-raised-button [disabled]="!(syncVideoMgrService.loadedmetadata$ | async)">讀取完成</button> -->
      <sync-video #syncvideo [fullscreen]="true" [showFrameByFrame]="true"></sync-video>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <!-- <mat-video #video8 [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [preload]="false" [overlay]="false">

    </mat-video> -->
  </mat-card>
</div>
