//有關文章編號
.mat-column-id {
  max-width: 100px;
}
.mat-header-cell.mat-column-id {
  color:red;
}
.mat-cell.mat-column-id {
  font-weight: bold;
  cursor: pointer;
}
//有關標題
.mat-cell.mat-column-name {
  //font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #FFF;
}
