
.myCSSClass {
  background: green;
  border: 2px solid cyan
}
.leaflet-tooltip-left.myCSSClass::before {
  border-left-color: cyan;
}
.leaflet-tooltip-right.myCSSClass::before {
  border-right-color: cyan;
}

.mytext {
  color: red ;
  font-weight: bold;
  //background: transparent !important ;
  border:0;
  box-shadow: none;
  font-size:2em;
}
.text {
  color: red;
  font-weight: bold;
  background: transparent;
  border:0;
  box-shadow: none;
  font-size:2em;
}




