<p>測試silder</p>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <span>10</span>
      <mat-slider #slider min="10" max="100" step="1" thumbLabel [displayWith]="formatLabel" (input)="onInputChange($event)"></mat-slider>
      <span>100</span>
      <hr>
      <span>0</span>
      <mat-slider style="pointer-events: none;" class="mat-slide-1" #totalslider min="0" max="{{totalDisk}}" step="1" thumbLabel [displayWith]="formatLabel"></mat-slider>
      <span>{{totalDisk}}</span>
      <hr>
      <p>Simple</p>
      <div #chart_container>
        <p id="value"></p>
        <div id="slider" style="pointer-events: none;"></div>
      </div>
      <p>Fill</p>
      <div>
        <div id="sliderFill" style="pointer-events: none;"></div>
      </div>
    </mat-card-content>
  </mat-card>


</div>
