<button mat-icon-button (click)="changeLayoutType(VideoLayoutType.Type1)">
  <mat-icon>filter_1</mat-icon>
</button>
<button mat-icon-button (click)="changeLayoutType(VideoLayoutType.Type4)">
  <mat-icon>filter_4</mat-icon>
</button>
<button mat-icon-button (click)="changeLayoutType(VideoLayoutType.Type8)">
  <mat-icon>filter_8</mat-icon>
</button>
<button mat-icon-button [disabled]="videoLayoutType==VideoLayoutType.Type8" (click)="changePage(VideoPageDirect.Left)">
  <mat-icon>skip_previous</mat-icon>
</button>
<button mat-icon-button [disabled]="videoLayoutType==VideoLayoutType.Type8" (click)="changePage(VideoPageDirect.Right)">
  <mat-icon>skip_next</mat-icon>
</button>
