<div fxLayout="column" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <mat-video #video1 [mustShowMouseIcon]="true" [preload]="false" [overlay]="true">

    </mat-video>
    <video width="640" height="480" controls>
      <source src="http://localhost:4200/assets/test.mp4" type="video/mp4">
    </video>
    <!-- <video width="640" height="480" controls>
      <source src="http://localhost:4200/assets/[DATE(2020-05-15)TIME(09-22-00)]CH06_aac.mp4" type="video/mp4">
      <track src="http://localhost:4200/assets/test.vtt" default>
      Your browser does not support the video tag.
    </video> -->
  </div>
</div>
