<h2>test xtermjs</h2>
<hr>
<div style="font-family:Microsoft JhengHei;">DIV 採用微軟正黑體的文字 透過這個資訊主頁管理及保護您的帳戶，確保帳戶安全無虞</div>
<div style="font-family:Microsoft Yahei;">DIV 採用微軟雅黑體的文字 透過這個資訊主頁管理及保護您的帳戶，確保帳戶安全無虞</div>
<hr>
<span class="material-icons">
  signal_cellular_alt
</span>

<span class="material-icons">
  signal_cellular_alt_1_bar
</span>

<span class="material-icons">
  signal_cellular_alt_2_bar
</span>
<span class="material-icons">
  signal_cellular_alt_3_bar
</span>


<hr>
<span class="material-icons">
  lan
</span>
<i class="material-icons" [ngClass]="{'ordinary': true}">lan</i>

<i class="material-icons" [ngClass]="{'caution': true}">lan</i>
<i class="material-icons" [ngClass]="{'fail': true}">lan</i>
<hr>

<span class="material-icons">
  sd_card
</span>
<hr>
<span class="material-icons">
  gps_fixed
</span>
<hr>
<span class="material-icons">
  storage
</span>

<xterm #term></xterm>
