<mat-slider></mat-slider>
<mat-card class="mat-elevation-z2" style="width: 90vw;">
  <mat-card-header>
    <mat-card-title>測試silder:</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="row" fxLayoutAlign="center stretch">
      <mat-card fxFlex="90%">
        <mat-card-header>
          <mat-card-title>車子容量</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-slider></mat-slider>
        </mat-card-content>
      </mat-card>
    </div>





  </mat-card-content>

</mat-card>
