<p>
  bind works!
</p>
<!-- <button (click)="doOnClick($event)"  >點我 </button> -->
<!-- <img [src]="imgUrl" > <br/>
<img src={{imgUrl}}/> -->

<!-- <input value="Tom" (input)="donOnInput($event)">
<button disabled>點我</button> -->

<!-- <table>
  <tr><td [attr.colspan]="size" >慕課網</td></tr>
</table> -->

<!-- <div class="a b c">
  慕課網
</div>
<br>
<div [class]="divClass">
  慕課網
</div>
<br>
<div class="a b"  [class.c]="isBig">
  慕課網
</div>
<br>
<div [ngClass]="agdivClass">
  慕課網
</div>
<br>
<div [style.color]="isDev ? 'red':'blue'" >
  慕課網
</div>
<br>
<div [style.font-size.em]="isDev ? 3:1" >
  慕課網
</div>
<br>
<div [ngStyle]="divStyle" >
  慕課網
</div> -->
<!-- <br>
<input type="text" [(ngModel)]="name" />
{{name}} -->

<!-- <input #myField (keyup) = "onkey(myField.value)">
<br>
<input [formControl]="searchInput" > -->

<h3>我的生日{{birthday | date | uppercase }}</h3>
<h3>我的生日{{birthday | date | lowercase }}</h3>
<h3>我的生日{{birthday | date:'yyyy-MM-dd HH:mm:ss' }}</h3>
<h3>圓周率 {{pi}}</h3>
<h3>圓周率 {{pi | number: '2.2-2'}}</h3>

<h3>我的管道{{size | multiple }}</h3>

