<mat-card>
  <mat-card-header>
    <mat-card-title>日期Working with FormGroup</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="formGroup">
      <mat-form-field appearance="fill">
        <mat-label>Verbose datepicker</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>日期時間Working with FormGroup</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="formGroup">
      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="date2" [min]="minDate" [max]="maxDate" [disabled]="disabled">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div> {{formGroup.get('date').value?.toLocaleString()}}</div>

  </mat-card-content>
</mat-card>
<!-- <div [formGroup]="formGroup">
  <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker1"
    placeholder="Choose a date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
  </mat-form-field>
</div> -->
<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>時間Working with FormGroup</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <ngx-mat-timepicker formControlName="date3" [showSeconds]="true"></ngx-mat-timepicker>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>OTA 車輛設定測試元件</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ota-set-car></ota-set-car>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>OTA 車輛設定強制測試元件</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ota-set-force-car [formModel]="formGroup"></ota-set-force-car>
  </mat-card-content>
</mat-card>
