.novideo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.novideoicon {
  font-size: 64px;
  height: 64px;
  width: 64px;
}

.disableDiv {
  pointer-events: none;
}
