<div fxLayout="row" fxLayoutAlign="stretch" style="height:100%;width:100%;">
  <!--Page0-->
  <div fxLayout="column" [fxFlex]="(mailindex===0) ? flexChangePageSize: '0'" [fxShow]="(mailindex===0) ?true: false">
    <div [fxFlex]="page0UhalfFlex" [fxShow]="page0UhalfShow">
      <div [fxFlex]="page0LUFlex" [fxShow]="page0LUShow" (dblclick)="Dbclick('video1',video1)" (click)="selclick('video1')" [ngClass]="{'disableDiv': video1.src==null}">
        <mat-video #video1 [fxHide]="(video1.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="true">
        </mat-video>
        <div class="novideo" [fxShow]="(video1.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>
      </div>
      <div [fxFlex]="page0RUFlex" [fxShow]="page0RUShow" (dblclick)="Dbclick('video2',video2)" (click)="selclick('video2')" [ngClass]="{'disableDiv': video2.src==null}">
        <mat-video #video2 [fxHide]="(video2.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="false">
        </mat-video>
        <div class="novideo" [fxShow]="(video2.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>

      </div>
    </div>
    <div [fxFlex]="page0DhalfFlex" [fxShow]="page0DhalfShow">
      <div [fxFlex]="page0LDFlex" [fxShow]="page0LDShow" (dblclick)="Dbclick('video3',video3)" (click)="selclick('video3')" [ngClass]="{'disableDiv': video3.src==null}">
        <mat-video #video3 [fxHide]="(video3.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="false">
        </mat-video>
        <div class="novideo" [fxShow]="(video3.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>
      </div>
      <div [fxFlex]="page0RDFlex" [fxShow]="page0RDShow" (dblclick)="Dbclick('video4',video4)" (click)="selclick('video4')" [ngClass]="{'disableDiv': video4.src==null}">
        <mat-video #video4 [fxHide]="(video4.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="false">
        </mat-video>
        <div class="novideo" [fxShow]="(video4.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <!--Page1-->
  <div fxLayout="column" [fxFlex]="(mailindex===1) ? flexChangePageSize: '0'" [fxShow]="(mailindex===1) ?true: false">
    <div [fxFlex]="page1UhalfFlex" [fxShow]="page1UhalfShow">
      <div [fxFlex]="page1LUFlex" [fxShow]="page1LUShow" (dblclick)="Dbclick('video5',video5)" (click)="selclick('video5')" [ngClass]="{'disableDiv': video5.src==null}">
        <mat-video #video5 [fxHide]="(video5.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="false">
        </mat-video>
        <div class="novideo" [fxShow]="(video5.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>
      </div>
      <div [fxFlex]="page1RUFlex" [fxShow]="page1RUShow" (dblclick)="Dbclick('video6',video6)" (click)="selclick('video6')" [ngClass]="{'disableDiv': video6.src==null}">
        <mat-video #video6 [fxHide]="(video6.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="false">
        </mat-video>
        <div class="novideo" [fxShow]="(video6.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>
      </div>
    </div>
    <div [fxFlex]="page1DhalfFlex" [fxShow]="page1DhalfShow">
      <div [fxFlex]="page1LDFlex" [fxShow]="page1LDShow" (dblclick)="Dbclick('video7',video7)" (click)="selclick('video7')" [ngClass]="{'disableDiv': video7.src==null}">
        <mat-video #video7 [fxHide]="(video7.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="false">
        </mat-video>
        <div class="novideo" [fxShow]="(video7.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>
      </div>
      <div [fxFlex]="page1RDFlex" [fxShow]="page1RDShow" (dblclick)="Dbclick('video8',video8)" (click)="selclick('video8')" [ngClass]="{'disableDiv': video8.src==null}">
        <mat-video #video8 [fxHide]="(video8.src==null) ? true:false" [playFreeze]="true" [mustShowMouseIcon]="true" [muted]="true" [mustShowTitle]="true" [download]="false" [preload]="false" [overlay]="false">
        </mat-video>
        <div class="novideo" [fxShow]="(video8.src==null) ? true:false">
          <mat-icon class="novideoicon">videocam_off</mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>
