//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
//使mat-car有作用
mat-card{
  margin:4px;
}
//寬度為填滿
.full-width{
  width: 100%;
}
html, body, app-root, mat-sidenav-container, .site {
  margin: 0;
  width: 100%;
  height: 100%;

}
.site {
  display: flex;
  flex-direction: column;

}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:64px;
}
.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}
//#region 以下是自定義字型大小
.mat-raised-button {
  font-size: 18px;
}
// .mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
//   font-size: 18px;
// }
.mat-line {
  font-size: 18px !important;
}
.mat-list-base .mat-list-option {
  font-size: 18px;
}
.mat-header-cell{
  font-size: 14px;
}
.mat-cell{
  font-size: 18px;
}

//#endregion 以下是自定義字型大小
